/* GLOBAL CSS */

.container {
    max-width: 860px;
}
h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 1.2em;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Popover CSS */
.index-popovers {
    --bs-popover-header-bg: rgb(100, 185, 93);
}

/* General div stule for the carousel, 
has to be applied togehter with the id */
.carousel-image-container {
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.index-image-container {
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#puttanesca-image01 {
    background-image: url("../images/pasta_alla_puttanesca_03.jpg");
}
#puttanesca-image02 {
    background-image: url("../images/pasta_alla_puttanesca_01.jpg");
}
#puttanesca-image03 {
    background-image: url("../images/pasta_alla_puttanesca_02.jpg");
}

#carbonara-image01 {
    background-image: url("../images/carbonara1.jpg");
}
#carbonara-image02 {
    background-image: url("../images/carbonara2.jpg");
}


/* second Recipe Start */

#homus-image1 {
    background-image: url("../images/homus1.jpg");
}
#homus-image2 {
    background-image: url("../images/Hummus2.webp");
}
#homus-image3 {
    background-image: url("../images/homus3.jpg");
}